body {
  overflow-x: auto !important;
}

body.dimmed.dimmable {
  overflow: auto !important;
}

#root {
  height: 100%;
  overflow: hidden;
}

#screenshot {
  position: absolute;
  z-index: 1005;
  top: 0;
  background: orange;
  display: flex;
  width: 100%;
}
