body {
  overflow-x: auto !important;
}

body.dimmed.dimmable {
  overflow: auto !important;
}

#root {
  height: 100%;
  overflow: hidden;
}

.input-range__label-container {
  font-size: small;
  font-weight: 600;
  color: #223392;
}

#screenshot {
  position: absolute;
  z-index: 1005;
  top: 0;
  background: orange;
  display: flex;
  width: 100%;
}

.terminal-base {
  height: auto !important;
  min-height: auto !important;
}

@media (max-width: 600px) {
  .account-form {
    margin: auto !important;
  }

  .ui.blue.label, .ui.blue.labels .label {
    display: flex !important;
  }

  .ui.vertical.labeled.icon.ui.overlay.right.wide.sidebar.menu {
    width: auto;
  }

  .users-table {
    text-align: center !important;
  }

  .access-control-header {
    display: block !important;
  }
  .access-control-header input {
    margin-bottom: 16px !important;
  }

  div.accordion.ui .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  div.accordion.ui .content.active div.ui.list {
    overflow: auto;
  }

  .terminal-container {
    display: grid !important;
  }

  .terminal-base {
    top: 27%;
    position: relative;
    transform: translateY(-60%);
     height: auto !important;
     min-height: auto !important;
  }
}

@media (max-width: 600px) and (max-height: 503px) {
  .terminal-base {
    top: unset;
    transform: none;
  }

  .terminal-container {
    display: flex !important;
  }
}

@media (max-height: 503px) {
  .profile-control {
    margin-bottom: 20px !important;
  }

}

@media (max-height: 400px) {
  .ui.selection.list > .item {
    padding: 3px 2px !important;
  }
}
